/*
        O texto das tags ‘h1’ e ‘p’ estejam centralizados.
        
       
*/
    h1, p {
        
        text-align: center;
    }

/* 
A cor de fundo da sua lista mude quando o cursor estiver sobre o item.
*/
ul:hover, ol:hover {
    background-color: darkgreen;
}

/* 
 A fonte do item mude quando ele for clicado. 
*/
li:active {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* 
No ‘style.css’, adicione a propriedade ‘list-style: none’ para ambas as listas.
*/
li {
    list-style:none;
}